{% extends 'front/page.html' %}
{% load static %}
{% block content %}
   <!-- End Navbar -->
   <div class="wrapper">
     <div class="page-header page-header-small header-filter">
       <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'front/img/ruvim-noga.jpg' %}');">
       </div>
       <div class="content-center">
         <div class="row">
           <div class="col-md-6 ml-auto mr-auto text-center">
             <h1 class="title">Berita-Berita Indonesia</h1>
           </div>
         </div>
       </div>
     </div>
     
     <div class="main main-raised">
       <div class="container">
         <div class="row">
            {% for a in buku  %}
           <div class="col-lg-4 col-md-6">
             <div class="card card-blog card-plain">
               <div class="card-image">
                 <a href="javascript:;">
                   <img class="img rounded" src="{% static 'front/img/steven-roe.jpg' %}">
                 </a>
               </div>
               <div class="card-body">
                 <h6 class="category text-primary"{{a.category}}</h6>
                 <h4 class="card-title">
                   <a href="javascript:;">{{a.judul}}</a>
                 </h4>
                 <p class="card-description">
                  {{a.deskripsi}}
                 </p>
                 <div class="card-footer">
                   <div class="author">
                     <img src="{% static 'front/img/p10.jpg' %}" alt="..." class="avatar img-raised">
                     <span>Mike John</span>
                   </div>
                   <div class="stats stats-right">
                     <i class="tim-icons icon-watch-time"></i> 5 min read
                   </div>
                 </div>
               </div>
             </div>
           </div>
           {% endfor %}
         </div>
       </div>
     </div>

     <div class="main main-raised"><center><h1>Berita - Berita Indonesia</h1></center>
      <div class="container">
        <div class="row">
           {% for nama,judul,desc,link,isi,tanggal,i in mylist  %}
          <div class="col-lg-4 col-md-6">
            <div class="card card-blog card-plain">
              <div class="card-image">
                <a href="{{link}}">
                  <img class="img rounded" src="{{i}}">
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-primary"{{a.category}}</h6>
                <h4 class="card-title">
                  <a href="javascript:;">{{judul}}</a>
                </h4>
                <p class="card-description">
                 {{isi}}
                </p>
                <div class="card-footer">
                  <div class="author">
                    <img src="{% static 'front/img/p10.jpg' %}" alt="..." class="avatar img-raised">
                    <span>{{nama}}/span>
                  </div>
                  <div class="stats stats-right">
                    <i class="tim-icons icon-watch-time"></i> {{tanggal}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
   </div>
   {% endblock content %}