{% extends 'page.html' %}
{% block content %}
<div class="wrapper">
   <div class="page-header">
     <div class="squares square1"></div>
     <div class="squares square2"></div>
     <div class="squares square3"></div>
     <div class="squares square4"></div>
     <div class="squares square5"></div>
     <div class="squares square6"></div>
     <div class="squares square7"></div>
     <div class="container">
       <div class="content-center brand">
         <h1 class="h1-seo">Berita</h1>
         <p>Berita adalah informasi yang menyampaikan peristiwa yang sedang terjadi atau terkini, contoh teks berita pada umumnya disusun oleh seorang wartawan atau jurnalis. 
          Isi dari teks ini berupa fakta yang didapatkan langsung dari lapangan maupun sumber dari jurnalis, sehingga dapat dipastikan bahwa isi dari teks berita ini merupakan kenyataan yang bisa dipercaya.
          Menurut Kamus Besar Bahasa Indonesia (KBBI) berita merupakan cerita atau keterangan terkait kejadian atau peristiwa yang sedang terjadi. Teks berita adalah suatu teks untuk menyampaikan kabar atau informasi kepada masyarakat mengenai suatu peristiwa atau kejadian aktual dan faktual yang diinformasikan secara tertulis.
          Dikatakan faktual karena teks berita sebaiknya ditulis secara berdasarkan kenyataan, sementara itu aktual yang merupakan kejadian yang dituliskan baru saja terjadi. Dapat disimpulkan apabila teks berita berisi mengenai segala kejadian atau peristiwa yang baru saja terjadi dan sedang hangat diperbincangkan oleh masyarakat luas dalam waktu tersebut.
         </p>
       </div>
     </div>
   </div>
{% endblock content %}